/* ============================================
   style-index.css
   Específico da página: index.html
   ============================================ */

/* Parágrafo introdutório da home */
/* main p {
  margin: 30px 10px 20px 10px;
} */

main h2 {
  font-size: 30px;
}

/* Sections da home têm imagem interna — altura maior */
section {
  width: 450px;
}

/* ============================================
   IMAGENS das sections
   ============================================ */
#img-sobre-nos {
  width: 350px;
  height: 380px;
  object-fit: cover;
  margin: 10px 10px 20px 10px;
  border-radius: 8px;
  border: 0.5px solid var(--cor-borda);
}

#img-missao {
  width: 350px;
  height: 380px;
  object-fit: cover;
  margin: 10px 10px 20px 10px;
  border-radius: 8px;
  border: 0.5px solid var(--cor-borda);
}

.texto {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ============================================
   MEDIA QUERY — mobile (max 700px)
   ============================================ */
@media (max-width: 700px) {

  section {
  width: 400px;
}

  #img-sobre-nos {
    height: 200px;
    padding: 10xp;
    margin: 8px 10px 4px 10px;
    border: 2px solid var(--cor-borda);
  }

  #img-missao {
    height: 340px;
    margin: 8px 5px 4px 5px;
    border: 2px solid var(--cor-borda);
  }
}

@media (max-width: 420px){
main p {
    padding: 10px 10px 10px 10px;
  }

  .texto {
    padding: 5px 5px 5px 5px;
    width: 290px;
  }

    /* Section */
  section {
    width: 100%;
    max-width: 400px;
    /* padding: 14px 16px 12px 16px; */
  }

  #img-sobre-nos {
    width: 290px;
    height: 200px;
    padding: 10xp;
    margin: 8px 10px 4px 10px;
    border: 2px solid var(--cor-borda);
  }

  #img-missao {
    width: 290px;
    height: 340px;
    margin: 8px 5px 4px 5px;
    border: 2px solid var(--cor-borda);
  }

}

@media (max-width: 360px){
  main p {
    padding: 10px 10px 10px 10px;
  }

  .texto {
    padding: 5px 5px 5px 5px;
    width: 290px;
  }

  #img-sobre-nos {
    width: 290px;
    height: 200px;
    padding: 10xp;
    margin: 8px 10px 4px 10px;
    border: 2px solid var(--cor-borda);
  }

  #img-missao {
    width: 290px;
    height: 340px;
    margin: 8px 5px 4px 5px;
    border: 2px solid var(--cor-borda);
  }
}