/* ============================================
   style-contratar.css
   Específico da página: contratar.html
   ============================================ */

/* Parágrafo introdutório da página */
main p {
  margin: 15px 0 15px 0;
}

section:hover {
    background: linear-gradient(45deg, rgba(255, 238, 1, 0.74), var(--cor-borda), rgba(255, 238, 1, 0.74));
    border: linear-gradient(45deg, rgba(255, 238, 1, 0.74), var(--cor-borda), rgba(255, 238, 1, 0.74));
    border-radius: 10px;
    border: 2px solid var(--menu-letra-color);
    box-shadow: 0px 2px 5px rgba(248, 248, 248, 0.445);
}

section:hover h2, section:hover p{
    color: #000000;
    transition: black, 1s ease;
}

section nav a img{
  width: 70px;
  padding: 5px;
}

section:hover img{
  background: rgba(17, 9, 9, 0.425);
  backdrop-filter: blur(15px); 
  border: 1px solid rgba(241, 225, 0, 0.623);
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;

}


/* ============================================
   MEDIA QUERY — tablet (max 1090px)
   ============================================ */
@media (max-width: 1090px) {
  article:last-of-type section {
    width: 65%;
    max-width: 580px;
  }
}

/* ============================================
   MEDIA QUERY — mobile (max 700px)
   ============================================ */
@media (max-width: 700px) {

  main p {
    font: bold;
    padding: 0 18px;
  }

  article:last-of-type section {
    width: 100%;
    max-width: 460px;
  }
}