@charset "UTF-8";
/* apenas para termos uma fonte mais bonita, qualquer mudança que façamos logo a baixo em alguma fonte não vai afetar o restante */
/* Fonte geral do site */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:wght@300;400;500&display=swap');
/* Fonte geral do site */
/* apenas para termos uma fonte mais bonita, qualquer mudança que façamos logo a baixo em alguma fonte não vai afetar o restante */

/* variaveis para usarmos no css */
:root {
    --menu-letra-color: #c9a84c;
    --corpo-letra-color: rgba(201, 168, 76, 0.75);
    --cor-borda:  rgba(247, 181, 2, 0.979);
    --menu: #000000;
    --corpo : #111111;
    --background-color: rgb(88, 73, 73);
    --text-color: white;
    --font-size: 18px;
  }
/* variaveis para usarmos no css */

html {
  font-family: 'Cormorant Garamond', Georgia, serif;
}


/* Rodapé do site*/

footer{
    border-top: 0.5px solid var(--cor-borda);
    text-align: center;
    margin: 0px;
    background-color: var(--menu);
    position: relative;
  }